{% extends 'base.html' %}
{% block content %}

<h1>Pot List</h1>

{% for pot in pot_list %}
  <a href="{% url 'pots_detail' pot.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ pot.name }}</span>
            <p><span class="label-names">Color:</span> {{ pot.color }}</p>
            <p><span class="label-names">Size:</span> {{ pot.size }}</p>
            <p><span class="label-names">Description:</span> {{ pot.description }}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}