{% extends 'base.html' %}
{% block content %}

<h1>Pot Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title"> {{ pot.name }}</span>
        <p><span class="label-names"> Color:</span> {{ pot.color }}</p>
        <p><span class="label-names"> Size:</span> {{ pot.size }}</p>
        <p><span class="label-names"> Description:</span> {{ pot.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'pots_update' pot.id %}" id="a-tags-color">Edit</a>
        <a href="{% url 'pots_delete' pot.id %}" id="a-tags-color">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}