{% extends 'base.html' %}

{% block content %}
<section class="delete-plant">
<h1>Delete <span id="nav-bar-test">{{object.name}}</span></h1>

  <h4>Are you sure you want to delete?</h4>
  <div class="card" id="card-delete">
    <div class="card-content" id="delete-card-content">
      <form action="" method="POST" class="delete-plant">
        {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="btn" id="cancel-btn">
        <br>
        <a href="{% url 'pots_detail' pot.id %}" id="cancel-tag">Cancel</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}
