{% extends 'base.html' %}
{% block content %}

<h1>Plant Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ plant.common_name }}</span>
        <p><span class="label-names">Latin Name:</span> <i>{{ plant.latin_name }}</i></p>
        <p><span class="label-names">Location:</span> {{ plant.location}}</p>
        <p><span class="label-names">Light: </span>{{ plant.light }}</p>
        <p><span class="label-names">Water: </span>{{ plant.water }} </p>
        <p><span class="label-names">Maintenance Level: </span>{{ plant.maintenance_level }} </p>
      </div>
      <div class="card-action">
        <a href="{% url 'plants_update' plant.id %}" id="a-tags-color" class="index-atag">Edit</a>
        <a href="{% url 'plants_delete' plant.id %}" id="a-tags-color" class="index-atag">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_watering' plant.id %}" method="POST">
      {% csrf_token %}
      {{ watering_form.as_p }}
      <button id="water-btn" class="btn" type="submit" >Record Watering</button>
    </form>
    <br>
    {% if plant.watered %}
      <div id="a-tags-color" class="card-panel  center-align">{{plant.common_name}} is all set!</div>
    {% else %}
      <div id="a-tags-color" class="card-panel  center-align">{{plant.common_name}} MIGHT be thirsty</div>
    {% endif %}
    <table class="striped" id="table-water">
      <thead>
        <tr><th id='water-dates'>Date</th></tr>
      </thead>
      <tbody >
        {% for watering in plant.watering_set.all %}
          <tr>
            <td id="water-dates">{{watering.date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ plant.common_name }}'s Pots</h3>
    {% if plant.pots.count %}
      {% for pot in plant.pots.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ plant.common_name}} has lived in pot: {{ pot.name }}.
            </span>
            <form action="{% url 'unassoc_pot' plant.id pot.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Pots :(</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Pots</h3>
    {% if pots.count %}
      {% for pot in pots.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ pot.name }}, size: {{ pot.size }}, is available!
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_pot' plant.id pot.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{plant.common_name}} will need a brand new pot next!</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date'); 
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %} 