{% extends 'base.html' %}
{% block content %}

<h1>My Plants</h1>

{% for plant in plants %}
  <div class="card">
    <a href="{% url 'detail' plant.id %}">
      <div class="card-content">
        <span class="card-title">{{ plant.common_name }}</span>
        <p><span class="label-names">Latin Name:</span> <i>{{ plant.latin_name }}</i></p>
        <p><span class="label-names">Location:</span> {{ plant.location}}</p>
        <p><span class="label-names">Light: </span>{{ plant.light }}</p>
        <p><span class="label-names">Water: </span>{{ plant.water }} </p>
        <p><span class="label-names">Maintenance Level: </span>{{ plant.maintenance_level }} </p>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %} 