{% extends 'base.html'%}

{% block content %}
<body>
   
<h1>About the Plant Collector</h1>
<hr />
<div class="card">
    <div class="card-content">
        <p>The Plant Collector is great for all plant lovers out there! Here you can upload 
            all your plants and keep track of their health! Have all the care instructions 
            in one place, know when you watered last, what pot they are currently in, what pots they
            have grown out of, etc.! Sign up <a href="{% url 'signup' %}" id="a-tags-color">here</a>
            and try it out yourself!</p>
    </div>
</div>    

{% endblock %}