* {
    font-family:'Barlow Semi Condensed', sans-serif; 
    color: #000000;
}

main {
    flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: 'Barlow Semi Condensed', sans-serif;  
    background-image: url("https://i.imgur.com/1r4HYMch.jpg");
    background-repeat: no-repeat, fixed;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

header > nav {
    background-color: #88d9b8;
    padding-top: 4px;   
}

#a-tags-color{
    color: #b91058;
}

.card {
    background-color: rgba(255, 255, 255, 0.85);   
}

.card-content {
    background-color: transparent;
}


.index-atag {
    color: #b91058;
}

.forms {
    background-color: rgba(255, 255, 255, 0.85);  
}

.card-action {
    color: #b91058;
}

#table-water {
    background-color: rgba(255, 255, 255, 0.80);    
}

#water-dates {
    text-align: center;
}

#water-btn {
    margin-bottom: 10px;
    background-color: #b91058;
}

.btn {
    background-color: #b91058;
}

label {
    color: #000000; 
    font-weight: bold;
    font-size: 25px;
    padding-right: -20px;
}

#cancel-btn {
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

#card-delete {
    width: 250px;
    margin: auto
}

.delete-plant {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#cancel-tag {
    color: #b91058;
    font-weight: bolder;
    font-size: 20px;
}

#delete-card-content {
    width: 190px;
    border: auto;
    margin: auto;
}

#new-btn {
    margin-top: 10px;
}

.label-names {
    color: #b91058;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: transparent;
    color: black;
}
